<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<div th:if="${isPremium}">
		<div style="margin-left: 80px;  height: 90px; width: 300px; display: inline-block;">
			<form action="searchSong" method="post">
				<input type="text" placeholder="Search song.." name="name">
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>
		<div style="display: inline-block; margin-top: 30px; margin-left: 170px; color:skyblue; opacity: 1;">
			<h1 style="display: inline-block;  ">Welcome</h1>
			<h1 style="display: inline-block; margin-left: 7px; " th:text="${userName}"></h1>
		</div>

	</div>


	<div th:unless="${isPremium}" class="non-premium">
		<div style="display: inline-block; margin-top: 30px; margin-left: 540px; color:skyblue; opacity: 1;">
			<h1 style="display: inline-block;  ">Welcome</h1>
			<h1 style="display: inline-block; margin-left: 7px; " th:text="${userName}"></h1>
		</div>
		<div style="width: 500px; margin: auto; margin-top: 170px;">
			<a class="btn btn-outline-success btn-lg btn-block" href="pay">Get premium</a>
			<br>
			<a class="btn btn-outline-success btn-lg btn-block" style="" href="logout">Logout</a>
		</div>
	</div>
	<div th:if="${isPremium}" class="premium" style="width: 1200px; margin: auto;">
		<table border class="table table-striped table-dark">
			<thead>
				<tr>
					<th>Name</th>
					<th>Artist</th>
					<th>Genre</th>
					<th>Play</th>
					<th>Reaction</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="song:${songs}">
					<td th:text="${song.name}"> </td>
					<td th:text="${song.artist}"> </td>
					<td th:text="${song.genre}"> </td>

					<td>
						<audio controls>
							<source th:src="${song.link}" type="audio/mpeg">
						</audio>
					</td>
					<td><i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></td>
				</tr>
			</tbody>
		</table>
	</div>


</body>
<script>
	function myFunction(x) {
		x.classList.toggle("fa-thumbs-down");
	}
</script>

</html>