<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<h3 style="color:black; opacity: 0.5; margin-left:580px; margin-top: 117px;">Registration</h3>
	<div style="position:absolute; top:25%; left: 37%; border:1px solid grey; padding: 15px;">
		<form action="register" method="post">


			<label style="color:black; opacity: 0.5;">UserName :</label>
			<input type="text" name="username" />
			<br>

			<label style="color:black; opacity: 0.5;">Email :</label>
			<input style="margin-left: 35px;" type="text" name="email" />
			<br>


			<label style="color:black; opacity: 0.5;">Password :</label>
			<input style="margin-left: 5px;" type="password" name="password" />
			<br>

			<label style="color:black; opacity: 0.5;">Gender :</label>
			<span style="margin-left: 17px;color:black; opacity: 0.5;">M</span><input type="radio" name="gender"
				value="male" />
			<span style="color:black; opacity: 0.5;">F</span><input type="radio" name="gender" value="female" />
			<span style="color:black; opacity: 0.5;">O</span><input type="radio" name="gender" value="other" />
			<br>

			<label style="color:black; opacity: 0.5;">Role :</label>
			<span style="margin-left: 37px ; color:black; opacity: 0.5;">Admin</span><input type="radio" name="role"
				value="admin" />
			<span style="color:black; opacity: 0.5;">Customer</span><input type="radio" name="role" value="customer">
			<br>

			<label style="color:black; opacity: 0.5;">Address :</label>
			<textarea style="margin-left: 15px;" name="address"></textarea>
			<br>

			<input class="btn btn-outline-primary " style="margin-left: 100px;" type="submit" value="Register" />

		</form>
		<p style="color:black; opacity: 0.5; margin-top: 20px;">Already a User?<a style="margin-left: 5px;"
				href="login">Login</a></p>
	</div>


</body>

</html>