body{
	background-color: deepskyblue;
	background-image: url("https://img.freepik.com/free-vector/glowing-musical-pentagram-background-with-sound-notes_1017-31220.jpg?w=826&t=st=1706040473~exp=1706041073~hmac=5364319d5f6164635cd95a130c337c71cbf8e583d87820f0eef3f7fe6c87106f");
	background-repeat: no-repeat;
	background-size: cover;
}